<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cditi.sena.gasconvertion" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Presion"
            android:label="@string/title_activity_presion" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Temperatura"
            android:label="@string/title_activity_temperatura" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Longitud"
            android:label="@string/title_activity_longitud" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Superficie"
            android:label="@string/title_activity_superficie" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Volumen"
            android:label="@string/title_activity_volumen" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Masa"
            android:label="@string/title_activity_masa" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Energia"
            android:label="@string/title_activity_energia" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Fuerza"
            android:label="@string/title_activity_fuerza" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Potencia"
            android:label="@string/title_activity_potencia" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Viscosidad"
            android:label="@string/title_activity_viscosidad" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Densidad"
            android:label="@string/title_activity_densidad" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.Cp"
            android:label="@string/title_activity_cp" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.CoeficienteTransferenciaCalor"
            android:label="@string/title_activity_coeficiente_transferencia_calor" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.ConductividadTermica"
            android:label="@string/title_activity_conductividad_termica" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.CaudalMasico"
            android:label="@string/title_activity_caudal_masico" >
        </activity>
        <activity
            android:name="com.cditi.sena.conversiones.CaudalVolumetrico"
            android:label="@string/title_activity_caudal_volumetrico" >
        </activity>
    </application>

</manifest>
